<form method="POST" action="/users/request_slot" class="flex gap-half" id="book_slot_form">
    <fieldset>
        <legend>Book a Session</legend>
        <div class="grid-2x0-gap1">



            <label>Subject</label>
            <select name="subject_id" class="xlg" required>
                <option disabled selected value>-- Select Subject --</option>
                {{#each subjects}}
                    <option value="{{id}}">{{subject}}</option>
                {{/each}}
            </select>

            <label>Duration</label>
            <select name="duration" class="xlg" required>
                <option value="2" selected> 60 mins</option>
                <option value="3" >90 mins</option>
                <option value="4">120 mins</option>
            </select>



            <label>Select Instructor</label>
            <select name="instructor_id" id="instructor_select" class="xlg" required>

            </select>


            <label>Slot (Eastern Time)</label>
            <input type="datetime-local" name="slot" step="1800" min="{{datetime_min}}" max="{{datetime_max}}"
                   value="{{datetime_min}}" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}T1[8-9]:[0-9]{2}$" class="lg" />


            <span id="availability" class="txt-red B-xlg"></span>
            <div class="flex-spread"><button class="btn-luminous-blue xlg font-orbitron">Request</button></div>

        </div>

    </fieldset>
</form>
