<div class="flex-TTB-spread grow1 laser-background p1 txt-white xlg">

   <div class="flex-ttb">
       <table class="w-inherit">
           <tbody>
           <tr>
               <td>Name</td>
               <td class="flex-RTL">{{session.user.forename}} {{session.user.surname}}</td>
               <td><a href="/users/change_name"><button class="btn-luminous-red B-xlg">Edit</button></a></td>


           </tr>
           <tr>
               <td>Email</td>
               <td class="flex-RTL">{{session.user.email}}</td>
               <td><button class="btn-luminous-red B-xlg">Edit</button></td>
           </tr>
           <tr>
               <td>Password</td>
               <td class="flex-RTL">**********</td>
               <td><a href="/users/change_password"><button class="btn-luminous-red B-xlg">Edit</button></a></td>

           </tr>
           <tr>
               {{#if (equals session.user.position 'STUDENT')}}
                   <td>Hours Credit</td>
                   <td class="flex-RTL">{{div info.half_hrs_credit 2}}</td>
               {{else if (equals session.user.position 'INSTRUCTOR')}}
                   <td>Hourly Rate</td>
                   <td class="flex-RTL">{{info.hourly_rate}}</td>
               {{/if}}
           </tr>
           <tr></tr>
           </tbody>


       </table>

       {{#if (equals session.user.position 'STUDENT')}}
           {{>booking}}
       {{/if}}
   </div>

       {{#if appointments}}
           {{>appointments_table}}
       {{/if}}


</div>


<script src="/public/javascripts/account.js"></script>