{{>navbar}}

    <div class="grid-2x0-gap1">
        <span>Name</span>
        <span>{{session.user.forename}} {{session.user.surname}}</span>

        <span>Credited hours</span>
        <span>{{student_info.hrs_credit}}</span>

        <span>Request a session</span>
        <form method="POST" action="/users/request_slot" class="flex gap-half" id="book_slot_form">
            <div>
                <label>Slot</label>
                <input type="datetime-local" name="slot" step="1800" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}T1[8-9]:[0-9]{2}$" />
            </div>
            <div>
                <label>Duration in mins</label>
                <input type="number" step="30" name="duration_mins" value="60" min="60" max="120"/>
            </div>

            <button class="btn-luminous-blue">Request</button>
            <span id="availability" class="txt-red B-xlg"></span>
        </form>

        <table>
            <thead>
            <tr>
                <th>year</th>
                <th>month</th>
                <th>day</th>
                <th>Beginning</th>
            </tr>
            </thead>


            <tbody>
            {{#each appointments}}

                <tr class="txt-align-ctr">
                    <td>{{year}}</td>
                    <td>{{month}}</td>
                    <td>{{day}}</td>
                    <td>{{int_divide half_hr 2}}:00</td>
                </tr>

            {{/each}}
            </tbody>


        </table>

    </div>

<script src="/public/javascripts/account.js"></script>