{{>navbar}}
<div class="flex-ctr grow1 laser-background p1 txt-white xlg">

   <div class="flex-ttb">
       <table class="w-inherit">
           <tbody>
           <tr>
               <td>Name</td>
               <td class="flex-RTL">{{session.user.forename}} {{session.user.surname}}</td>
           </tr>
           <tr></tr>
           <tr>
               {{#if (equals session.user.position 'STUDENT')}}
                   <td>Hours Credit</td>
                   <td class="flex-RTL">{{div info.half_hrs_credit 2}}</td>
               {{else if (equals session.user.position 'INSTRUCTOR')}}
                   <td>Hourly Rate</td>
                   <td class="flex-RTL">{{info.hourly_rate}}</td>
               {{/if}}
           </tr>
           <tr></tr>
           </tbody>


       </table>

       {{#if (equals session.user.position 'STUDENT')}}
           <form method="POST" action="/users/request_slot" class="flex gap-half" id="book_slot_form">
               <fieldset>
                   <legend>Book a Session</legend>
                   <div class="grid-2x0-gap1">
                       <label>Slot</label>
                       <input type="datetime-local" name="slot" step="1800" min="{{datetime_min}}" max="{{datetime_max}}"
                              value="{{datetime_min}}" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}T1[8-9]:[0-9]{2}$" class="lg" />


                       <label>Duration</label>
                       <select name="duration_mins" class="xlg">
                           <option value="60" selected> 60 mins</option>
                           <option value="90" >90 mins</option>
                           <option value="120">120 mins</option>
                       </select>



                       <label>Select Instructor</label>
                       <select name="instructor_id" id="instructor_select" class="xlg">
                           {{#each instructors}}
                               <option value={{instructor_id}}>{{forename}} {{surname}}</option>
                           {{/each}}
                       </select>

                       <span id="availability" class="txt-red B-xlg"></span>
                       <div class="flex-spread"><button class="btn-luminous-blue xlg font-orbitron">Request</button></div>

                   </div>

               </fieldset>
           </form>

       {{/if}}

       {{#if appointments}}
           <table class="m-top1">
               <thead >
               <tr class="grid-5x0-gap1">

                   <th>Date</th>
                   <th>Start Time</th>
                   <th>Duration (hrs)</th>
                   {{# if (equals session.user.position 'STUDENT')}}
                       <th>Instructor</th>
                   {{else}}
                       <th>Student</th>
                   {{/if}}
                   <th></th>
                   <th></th>
               </tr>
               </thead>


               <tbody>
               {{#each appointments}}

                   <tr class="txt-align-ctr grid-5x0-gap1">
                       <td>{{day}}/{{month}}/{{year}}</td>
                       <td>{{int_div start_time 2}}:{{ternary (not_equal (modulo start_time 2) 0) "30" "00"}}</td>
                       <td>{{div count_halves 2}} </td>
                       <td>{{forename}} {{surname}}</td>

                       <td>
                           {{#if (equals ../session.user.position 'STUDENT')}}
                               <form action="/users/cancel_session" method="POST">
                                   <input type="hidden" name="year" value="{{year}}"/>
                                   <input type="hidden" name="month" value="{{month}}"/>
                                   <input type="hidden" name="day" value="{{day}}"/>
                                   <input type="hidden" name="start_time" value="{{start_time}}"/>
                                   <input type="hidden" name="count" value="{{count_halves}}" />
                                   <button class="btn-luminous-red">Cancel</button>
                               </form>
                           {{/if}}
                       </td>
                   </tr>

               {{/each}}
               </tbody>
           </table>
       {{/if}}
   </div>

</div>


<script src="/public/javascripts/account.js"></script>